@media all and (max-width: 992px) {
    body {
        width: 100%;
    }
}

@media all and (max-width: 992px) {
    section figure {
        height: 100%;
    }

    section figure img {
        height: 100%;
    }
    nav label {
        display: block;
        text-align: right;
    }

    nav ul {
        display: none;
    }

    #main-nav:checked + ul {
        display: block;
    }
}