/*zastosowanie do wszystkich elementów strony*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
/*    font-family: 'Lato', sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

.clear{
    clear:both;
}

nav {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline-block;
    line-height: 70px;
    margin-right: 50px;

}

nav ul li a {
    color: chartreuse;
    text-decoration: none;

}

header {
    color: white;
    background-image: url(../img/header-background.jpg);
    background: cover;
    height: 100vh;
    position: relative;
}

header div {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    font-size: 300%;
}

/*transform: translateY(-50%)
to przesuniecie na srodek*/

header div h1 {
    font-size: 200%;
}

header div h1 span {
    color: chartreuse;
}

#omnie {
    padding: 80px;
    text-align: center;
}

#omnie h2 {
/*    text-align: center;*/
    margin-bottom: 30px;
}

#omnie h2 span {
    color: chartreuse;
}

#omnie figure {
    float: left;
    display: inline-block;
    width: 50%;
/*    text-align: center;*/
}

#omnie article p {

    width: 50%;
    display: inline-block;
    float: left;
    text-align: justify;
}

#omnie figure img {
    width: 50%;
    border-radius: 5px;
    border: 10px solid white;
}

#Umiejetnosci {
    padding: 30px;
    text-align: center;
}

/*
#Umiejetnosci h2 {
    text-align: center;
}
*/

#Umiejetnosci h2 span {
    color: chartreuse;
}

#Umiejetnosci p {
    padding: 30px;
/*    text-align: center;*/
}

#Umiejetnosci figure {
    display: inline-block;
    margin: 30px;
}

#Mojeportfolio {
    font-weight: lighter;
}

#Mojeportfolio h2 {
    text-align: center;
    margin-bottom: 30px;
}

#Mojeportfolio h2 span {
    color: chartreuse;
}

#Mojeportfolio .box {
    height: 400px;
    width: 33.333%;
    float: left;
    background-size: cover;
    background-position: center;
}

#img1 {
    background-image: url(../img/portfolio1.jpg);
}
#img2 {
    background-image: url(../img/portfolio2.jpg);
}
#img3 {
    background-image:url(../img/portfolio3.jpg);
} 

.box2 {
    padding: 10px;
    height: 100%;
    background-color:  rgba(42,61,79,0.8);
    opacity: 0;
}
.box2:hover{
    opacity: 1;
/*    position: relative;*/
}
.box3 {
    border: 1px solid #FFF;
    text-align: center;
    font-size: 130%;
    font-weight: 100;
    line-height: 1.5;
    height: 100%;
    color: #fff;
    position: relative;
}

.box4 {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);   
}

#contact { 
    background-color: #213b50;
    color: white;
    text-align: left;
    padding: 50px;
    width: 100%;
/*    float: left;*/
}



#contact #contact-header h2 {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 100;
}

#contact #contact-header {
    font-weight: 50;
    width: 50%;
}

#contact h2 span {
    color: chartreuse;
}

#form {
    padding: 10px 20px;
    background-color:  #213b50 ;
    color: white;
}

label {
    display: block;   
}

form input[type="text"],
form input[type="email"],
form textarea{
    background-color:#4e708c ;
    border: 0;
    width: 100%;
    color: white;
    margin-bottom: 10px;
    padding: 5px; 
    height: 25px;
}

form input:focus,
form textarea:focus {
    background-color:  #4e708c ;
    border: 1px solid white; 
}

form textarea {
    display: block;
    height: 150px;
    resize: none; 
    text-decoration: none;
}

[type="submit"] {
    width: 100px;
    text-align: center;
    line-height: 50px;
    background-color: lime;
    color: white;
    text-transform: uppercase;
    float: right;
}

.fifty {
    float: left;
    width: 50%;
    display: inline-block;
}

#contact #social-media-icons {
    color: white;
    font-size: 200%;
    border: 1px, white;
    padding: 50px;
}


#contact #social-media-icons a {
    
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    border: 2px solid
}

footer {
    background-color: #170f48;
    color: white; 
}

#contact #contact-content address a span {
    color: lime;
    text-decoration: none;
}